language: English

screen-flow
1. login screen (if not logged in)
2. Home screen - main menu
2.1 quizzes
2.1.1 category
2.1.1.1 categories
2.1.2 random - 10 questions
2.2 new word
2.2.1 category
2.2.1.1 select category (can select multiple)
2.2.1.2 add category
2.2.2 text field for category and ai recommendation button (omit words that are already in the list, if less than 10 suggest adding more text)
2.3 word list
2.3.1 all words
2.3.2 categories (upper bar)

Routes
menu: Home
/users/$userId
menu: Home
/users/$userId/quiz
menu: Word list
/users/$userId/wordlist
menu: Account
/users/$userId/account

Main menu
- quizzes
- new word
- word list
- Coming soon

new word
- word
- definition
- example sentence
- category

quizzes
- random
- category
- gain experience
- read word (Web Speech API)

word list
- category by category
- Delete button and show minus icon for everything in the list
- show undo button after deleting something
- move to another category (multiple words)
- double click and rename directory
- read word

responsive: mobile-first dev

features:
- dark mode
- animation
- quizzes
- word list (search word)
- add a new word
- login(oauth: google)
- user level

libraries
- tailwindcss

tools
- supabase

API
- Web Speech API

additional requirements
- pwa


Nicole's Advice
- add hiragana and romaji for example sentence
- auto suggestion for word box in case of misspelling
- change categories in case of misput