language: English

Quiz
mode 10 words
- random words -> choose category (claude)
- random words from user word list
- choose from existing category
Quiz
- Multiple choices(3 random words and one correct answer) <- use library
-> use deepl to show the meanings after the user picks the answer
features
- checking the answers
- gain experience ?/10 * 10 exp
Checking-the-answers
- ?/10 and show meter
- expandable word card
- add to category (select multiple, make it blue when touched, and enable drag)

TODO:
- loading
- quiz game
- generate random word based on category name
- forgotten password
- user level feature
- remove title
- responsive design

SUB_TODO:
- on producion mode, its hard to drag and drop
- auto suggestion for word input and show word and definition
- mix words and categoires in browse
- browse word edit
- replace id with something else for route path
- fix yahoo api mistranslation
- limit search result words
- move word to another category
- undo deleteing word
- undo moving category
- show error if moving categoris fail


screen-flow
1. login screen (if not logged in)
2. Home screen - main menu
2.1 quizzes
2.1.1 category
2.1.1.1 categories
2.1.2 random - 10 questions
2.2 new word
2.2.1 category
2.2.1.1 select category (can select multiple)
2.2.1.2 add category
2.2.2 text field for category and ai recommendation button (omit words that are already in the list, if less than 10 suggest adding more text)
2.3 word list
2.3.1 all words
2.3.2 categories (upper bar)

Routes
menu: Add word
/users/$userId/word
menu: Home
/users/$userId/quiz
menu: Browse
/users/$userId/browse
menu: Account
/users/$userId/account

responsive: mobile-first dev

features:
- dark mode
- animation
- quizzes
- word list (search word)
- add a new word
- login
- user level

libraries
- tailwindcss

tools
- supabase

API
- Web Speech API

additional requirements
- pwa


Nicole's Advice
- auto suggestion for word box in case of misspelling
- change categories in case of misput